{% extends "base.html" %}
{% block title %}
<title>Tracker</title>
{% endblock title %}
{% block content %}
<main>
    <div>
        <h1>
            My Projects
        </h1>
        <a href="{% url 'create_project' %}">Create a new project</a>
        {% if not projects %}
        <p>
            You are not assigned to any projects
        </p>
        {% else %}
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Number of tasks</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    <td><a href="{% url 'show_project' project.id %}">{{project.name}}</a></td>
                    <td>{{tasks|length}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</main>
{% endblock content %}